<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
    <link rel="stylesheet" href="/src/css/style.css">
    <link rel="stylesheet" href="/src/css/auth.css">

    <script src="/src/js/authtabs.js" type="module"></script>
</head>

<body>
    <div id="app">
        <!-- logo -->

        <!-- tabs -->
        <section class="form-container">
            <div class="tabs">
                <div class="tab-button active-tab" id="loginButton">Login</div>
                <div class="tab-button" id="registerButton">Register</div>
            </div>
            <article id="login" class="active-form">
                <form id="loginForm">
                    <label>
                        <span class="visually-hidden">email</span>
                        <input type="email" name="email" placeholder="email">
                    </label>
                    <label>
                        <span class="visually-hidden">password</span>
                        <input type="password" name="password" placeholder="password">
                    </label>
                    <button>Login</button>
                </form>
            </article>
            <article id="register">
                <form id="registerForm">
                    <form id="loginForm">
                        <label>
                            <span class="visually-hidden">email</span>
                            <input type="email" name="email" placeholder="email">
                        </label>
                        <label>
                            <span class="visually-hidden">email</span>
                            <input type="text" name="email" placeholder="email">
                        </label>
                        <label>
                            <span class="visually-hidden">password</span>
                            <input type="password" name="password" placeholder="password">
                        </label>
                        <button>Register</button>
                    </form>
            </article>
        </section>

    </div>
    <script type="module" src="/src/js/main.js"></script>
</body>

</html>