<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
    <link rel="stylesheet" href="/src/css/style.css">
    <link rel="stylesheet" href="/src/css/navbar.css">
    <link rel="stylesheet" href="/src/css/operator.css">

    <script src="/src/js/authtabs.js" type="module"></script>
</head>

<body>
    <div id="app">
        <nav>
            <header class="title">Operator dashboard</header>
            <section class="nav-container">
                <div class="nav--item">Chat 1</div>
                <div class="nav--item">Chat 2</div>
                <div class="nav--item">Chat 3</div>
            </section>
            <footer>Logout</footer>
        </nav>
        <!-- Only main will scroll -->
        <main>
            <section class="container">
                swpoejfwpeo
            </section>
        </main>
    </div>
</body>

</html>