<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
    <link rel="stylesheet" href="/src/css/style.css">
    <link rel="stylesheet" href="/src/css/navbar.css">

    <script src="/src/js/authtabs.js" type="module"></script>
</head>

<body>
    <div id="app">
        <nav class="navbar">
            <div class="brand">
                <a href="/" class="navbar-logo">
                    <img src="/logo.png" alt="logo">
                </a>
                <strong>Good Respond</strong>
            </div>

            <div class="navbar-auth">
                <a href="/views/auth" class="navbar-item">Login</a>
                <a href="/views/auth" class="navbar-item">Register</a>
            </div>

        </nav>
    </div>
</body>

</html>