<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>

    <link rel="stylesheet" href="/src/css/style.css">
    <link rel="stylesheet" href="/src/css/profile.css">
</head>

<body>

    <div class="profile-container">

        <h1>PROFILE </h1>

        <label>
            <span class="title">name</span>
            <input type="text" id="name" placeholder="John Doe">
        </label>
        <label>
            <span class="title">age</span>
            <input type="number" id="age" placeholder="22" min="0">
        </label>
        <label>
            <span class="title">name</span>
            <input type="text" id="name" placeholder="John Doe">
        </label>
        <label>
            <span class="title">height</span>
            <input type="text" id="height" placeholder="170cm">
        </label>
        <label>
            <span class="title">weight</span>
            <input type="text" id="weight" placeholder="75kg">
        </label>
        <label>
            <span class="title">phone</span>
            <input type="text" id="phone" placeholder="987654321">
        </label>
        <label>
            <span class="title">address</span>
            <input type="text" id="address" placeholder="3/22 Banana st">
        </label>
        <label>
            <span class="title">email</span>
            <input type="email" id="email" placeholder="example@gmail.com">
        </label>
        <div class="button-container">
            <button id="save-btn">Save</button>
            <button id="change-btn">Change</button>
        </div>

    </div>

</body>

</html>